/* .add_item_user{
    padding-left: 10px;
    float: left;
    margin-top: 15px;
}
.add_item_user p{
    float: left;
    font-size: 24px;
    color: #000;
}
.add_item_user input{
    float: left;
    border: 1px solid #3D90CE;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 90px;
}
.clearfix{
    clear: both;
} */