/*  */

.fav-img {
    border-radius: 10px;
}

.FavIcon {
    background: transparent linear-gradient(220deg, #2DAEC5 0%, #2B3D91 100%, #2B388F 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 30px;
    height: 30px;
    padding: 5px;
    float: right;
    border-radius: 20px;
    position: relative;
    bottom: 15px;
    right: 10px;

}

