/* Style . */

.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }
  
  .steps-action {
    margin-top: 24px;
  }

  .finshBtn {
    background: #0288D1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
  }