.clearfix{
    clear: both;
}
/* .suggest_addItem{
    float: left;
} */
.suggest_add{
    /* float: left; */
    width: 22px;
    height: 22px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0288D1;
    opacity: 1;
    text-align: center;
    line-height: 18px;
    font-size: 19px;
    border-radius: 50%;
}
.suggest_addItem{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    display: flex;
}
/* .results{
    float: left;
    
} */

.results button{
    cursor: pointer;
    outline: none;
    background: #fff;
    border: 1px solid #0288D1;
    border-radius: 3px;
    opacity: 1;
    width: 80px;
    margin: 0 18px;
    color: #0288D1;
    height: 25px;
}
/* .send{
    float: left;
    
} */
.send button{
    cursor: pointer;
    outline: none;
    background: #0288D1 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    border: 1px solid #0288D1;
    width: 80px;
    height: 25px;
    color: #fff;
}