.product_item{
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}
.productPage{
    width: 100%;
}
.product_img img{
    width: 520px;
}
.product_bid{
    width: 100%;
    margin-left: 20px;
}
.product_bid h4{
    text-align: center;
    margin: 0 auto;
    color: #000;
    font-size: 25px;
    font-family: 'Monsterrat Medium';
}
.clearfix{
    clear: both;
}
.product_bid h6{
    color: #707070;
    font-size: 10px;
    font-family: 'Open-Sans Regular';
    padding-top: 15px;
    margin-bottom: 15px;
}
.bid_time{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.bid_time p{
    font-family: 'Open-Sans SemiBold';
    font-size: 14px;
    color: #000;
}
.bid_time span{
    font-family: 'Open-Sans Regular';
    padding-left: 20px;
    color: #C62828;
    font-size: 15px;
    margin-bottom: 15px;
}
.bid_item_date{
    font-family: 'Open-Sans Regular';
    font-size: 15px;
    color: #000;
    margin-bottom: 15px;
}
.bid_item_about{
    font-family: 'Open-Sans Regular';
    font-size: 15px;
    color: #000;
}
.product_price_item{
    display: flex;
    margin-left: 20px;
    margin-top: 150px;
}
.product_price_item p{
    padding-top: 10px;

}
.product_item_price{
    font-size: 15px;
}
.product_price {
    width: 100%;
}
.product_price p{
    font-size: 14px;
    font-family: 'Open-Sans Regular';
}