.container_1{
	width: 100%;
	margin: 0 auto;
    box-sizing: border-box;
}

.container_2{
	width: 100%;
	margin: 0 auto;
    box-sizing: border-box;
    margin-left: 15px;
}

.liveProduct{
    background: #fff;
}

.liveProduct h3{
    text-align: center;
    padding: 30px 0;
    color: #3D90CE;
    font-size: 24px;
}

.lastChanse{
    margin-top: 50px;
}

.suggestItem h3{
    text-align: center;
    padding: 30px 0;
    color: #3D90CE;
    font-size: 24px;
}

.liveauction{
    background: #fff;
    margin-top: 15px;
}

.liveauction h3{
    color: #3D90CE;
    font-size: 21px;
    font-family: 'Monsterrat Medium';
    text-align: center;
    padding-top: 13px;
} 

.liveauctionblock{
    display: flex;
    flex-direction: column;
}

.liveauction a{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: #1E88E5;
    font-size: 12px;
    font-family: 'Open-Sans Regular';
}

.liveauctionblock {
    border: 1px solid #707070;
    border-radius: 10px;
}

.liveauctionblock h4{
    color: #000000;
    font-size: 16px;
    font-family: 'Monsterrat Medium';
    text-align: center;
    padding-top: 10px;
}

.product {
    flex-direction: row;
    justify-content: center;
}

.product h6 {
    padding-top: 10px;
    font-size: 14px;
    color: #000000;
    font-family: 'Open-Sans Regular';
}

.productPrice h6{
    display: flex;
    flex-direction: row-reverse;
}

.productPrice h5{
    flex-direction: row-reverse;
    padding-top: 10px;
    font-size: 16px;
    color: #000000;
    font-family: 'Open-Sans Bold';
}

.timeLeft {
    margin-bottom: 15px;
}


