.header{
    background: #60c9dc;
    background: -moz-linear-gradient(left, #60c9dc 0%, #4faed5 50%, #3d90ce 100%);
    background: -webkit-linear-gradient(left, #60c9dc 0%,#4faed5 50%,#3d90ce 100%);
    background: linear-gradient(to right, #60c9dc 0%,#4faed5 50%,#3d90ce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60c9dc', endColorstr='#3d90ce',GradientType=1 );
    height: 70px;
}

.navbar-custom {
    padding: 15px 20px;
} 


.logo{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px;
}

.register{
    cursor: pointer;
    text-align: center;
    font: Bold 18px/24px Open Sans;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0 10px; 
} 

.reg_span {
    color: #fff;
}

.register_link {
    padding-top: 18px;
}

.btnDrawer {
    background: transparent;
    border: none;
    outline: none;
    
}

.btn-icon {
    background: transparent;
    outline: none;
}

.btnLangiage {
    background: transparent;
    outline: none;
}