/* 
 */

 
.carousel-inner {
    height: 350px;
} 
.Carousel_item{
    background-image: url('./../../assetc/images/Carousel/DAKH8M.png');
    width: 100%;
    background-size: cover;
    height: 100%;
}

.Carousel_text {
    width: 50%;
    display: flex;
    font-weight: bold;
    color: white;
    justify-content: center;
}