.radio{
	margin-top: 15px;
}
.userAddItem{
	padding-left: 15px;
	color: #000;
	font-size: 18px;
	font-family: 'Open-Sans Regular';
}
.userAddItem input{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid #4FAED5;
	margin-left: 130px;
}