@font-face{
  font-family: 'Open-Sans SemiBold';
  src: url('./assetc/fonts/OpenSans-Semibold.ttf');
}
@font-face{
  font-family: 'Open-Sans Bold';
  src: url('./assetc/fonts/OpenSans-Bold.ttf');
}
@font-face{
  font-family: 'Open-Sans Regular';
  src: url('./assetc/fonts/OpenSans-Regular.ttf');
}
@font-face{
  font-family: 'Monsterrat Medium';
  src: url('./assetc/fonts/Montserrat-Medium.ttf');
}
@font-face{
  font-family: 'Monsterrat Regular';
  src: url('./assetc/fonts/Montserrat-Regular.ttf');
}
@font-face{
  font-family: 'Trajan bold';
  src: url('./assetc/fonts/ofont.ru_Trajan.ttf');
}
@font-face{
  font-family: 'Segoi';
  src: url('./assetc/fonts/Segoi.ttf');
}

.app-container{
    width: 100%;
    padding: 0 15px;
}

.liveAuctionContainer{
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 10px;
}

.UserItemContainer {
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    float: left;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Tahoma';
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.clearfix:after{
  content: ''; 
  clear: both;
  display: table;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  border: 0;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 100%;
  background: transparent;
}

.clear {
  clear: both;
}

a:active,
a:focus,
a:hover {
  border: none;
  outline: none;
  text-decoration: none;
}

input:active,
input:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

hr {
  border: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Fonts */

.font-8 {
  font-size: 8px;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-32 {
  font-size: 32px;
}

.font-34 {
  font-size: 34px;
}

.font-36 {
  font-size: 36px;
}

/* Width */

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}


/* Color  */

.header_blue {
  color: #3D90CE;
  font-size: 21px;    
}

/* Component Navbar Style */

.navbar-custom {
  padding: 4px 20px;
}

/* Add Item Component Style */

.ant-tabs-nav-scroll {
  display: flex;
  justify-content: center;
} 

/* Carousel */

.carousel-inner {
  height: 450px;
}

.BrainhubCarousel__arrows {
  background-color: #ffffff !important;
}

.BrainhubCarousel__arrows span {
  border-color: #0288d1 !important;
}


.modal-content {
  background: #F4F6F7 0% 0% no-repeat padding-box;
}

@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
  }
}