/* Registration Module Style */
.control {
    border-radius: 5px;
    height: 45px;
}

.register_img {
    position: relative;
}

.Img_tex {
    top: 60px;
    left: 100px;
    position: absolute;
    text-align: left;
    font: Bold 30px/43px Trajan Pro 3;
    letter-spacing: 0.9px;
     color: #FCFCFC;
    opacity: 1;
}